h1.titulo {
   color: #FFE000;
   font-weight: bold;
   text-align: center;
   font-size: 40px;
   font-family: Arial;
}
h2.subtitulo {
   color: #FFFFFF;
   font-weight: bold;
   text-align: center;
   font-size: 35px;
   font-family: Arial; 
}
h3.descricao {
   color: #FFFFFF;
   font-weight: bold;
   text-align: center;
   font-size: 30px;
   font-family: Arial;
}
p.descricao {
   color: #FFFFFF;
   font-weight: bold;
   text-align: center;
   font-size: 25px;
   font-family: Arial;
}
button.botao {
    color:  #000000;
    font-weight: 600;
    font-size: 27px;
    border-radius: 30px 30px 30px 30px;
}    

button.botao2 {
    color:  #000000;
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    border-radius: 30px 30px 30px 30px;
}    



